---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
PointerAlignment: Left
ReferenceAlignment: Pointer
NamespaceIndentation: None
FixNamespaceComments: true
ShortNamespaceLines: 1
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^<.*\.h(pp)?>$'
    Priority: 1
  - Regex:    '^<.*>$'
    Priority: 2
  - Regex:    '^"roboslop/.*"$'
    Priority: 3
  - Regex:    '^"gorden/.*"$'
    Priority: 4
  - Regex:    '.*'
    Priority: 5
SortIncludes: CaseSensitive
SeparateDefinitionBlocks: Always
QualifierAlignment: Left
SpaceAfterTemplateKeyword: true
...
